.main--title {
    color: #133E87;
    padding-bottom: 10px;
    font-size: 18px;
}

.icon {
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: #059212;
}

/* -- Tables Section -- */
.table--wrapper {
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.table--container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #133E87;
    color: #fff;
}

th {
    padding: 15px;
    text-align: left;
}

tbody {
    background: #f2f2f2;
}

td {
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even) {
    background: #fff;
}

tfoot {
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}

tfoot td {
    padding: 15px;
}

.table--wrapper .edit--button .icon {
    background: none;
    color: #059212;
}

.table--wrapper .delete--button .icon {
    background: none;
    color: red;
}

.td--icon {
    text-align: center;
    display: flex;
    justify-content: center;
}

.th--action {
    text-align: center;
}

.table--wrapper .create--button .icon {
    background: none;
    color: #133E87;
}

.header--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}